<template>
    <b-navbar toggleable="sm" type="dark" variant="info" class="mb-4">
        <b-navbar-nav>            
            <b-nav-text>Status : {{statusData}}
            </b-nav-text>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
            <b-nav-text>Action : </b-nav-text>
            <b-nav-item>
                <b-form-select
                size="sm"
                v-model="selected"
                v-on:change="onChange($event)"
                :options="options"
                id="actions"></b-form-select>
            </b-nav-item>
            <b-nav-item>
                <b-modal v-model="modaleditingshow" title="Set Editing" @ok="handleOk">
                    <form ref="form">
                        <b-form inline>
                            <div v-if="selected == 1">
                                <b-form-input class="col-lg-12" v-model="name1" placeholder="delete"></b-form-input>
                            </div>
                            <div v-else-if="selected == 2">
                                <b-form-input class="col-sm-6" v-model="name1" placeholder="from"></b-form-input>
                                <b-form-input class="col-sm-6" v-model="name2" placeholder="to"></b-form-input>
                            </div>
                            <div v-else-if="selected == 3">
                                <b-form-input class="col-sm-6" v-model="name1" placeholder="before"></b-form-input>
                                <b-form-input class="col-sm-6" v-model="name2" placeholder="after"></b-form-input>
                            </div>
                        </b-form>
                    </form>
                </b-modal>
                <b-btn size="sm" v-on:click="setEditing">Go</b-btn>
            </b-nav-item>
        </b-navbar-nav>
    </b-navbar>
</template>

<script>
import Vue from 'vue'
import {
    BNavbar,
    BNavbarNav,
    BNavText,
    BNavItem,
    BForm,
    BFormSelect,
    BButton,
    VBModal
    } from 'bootstrap-vue'

import { Rename } from "../scripts/Rename.js"

Vue.component('b-navbar', BNavbar)
Vue.component('b-navbar-nav', BNavbarNav)
Vue.component('b-nav-text', BNavText)
Vue.component('b-nav-item', BNavItem)
Vue.component('b-form', BForm)
Vue.component('b-form-select', BFormSelect)
Vue.component('b-btn', BButton)
Vue.directive('b-modal', VBModal)

export default {
    name: 'Footer',
    props: {
        footerData: {
            type: String
        },
        listDataHandler: {
            type: Array
        },
        fulldirHandler: {
            type: String
        }
    },
    data()
    {
        return {
            name1: '',
            name2: '',
            selected: null,
            statusData: null,
            modaleditingshow: false,
            options: [
                { value: null, text: 'select an option' },
                { value: '1', text: 'Rename File: delete' },
                { value: '2', text: 'Rename File: replace' },
                { value: '3', text: 'Rename File: insert' },
            ]
        }
    },
    watch: {
        footerData: function () {
            this.statusData = this.footerData
        }
    },
    methods: {
        onChange: function(event) {
            this.selected = event
        },
        setEditing: function() {
            if(this.selected > 0)
                this.modaleditingshow = true
        },
        handleOk () {
            if(this.selected == 1)
            {
                Rename.deleteFunc({
                    fulldir: this.fulldirHandler,
                    listfile: this.listDataHandler,
                    deleteChar: this.name1
                })
            }
            else if(this.selected == 2)
            {
                Rename.replaceFunc({
                    fulldir: this.fulldirHandler,
                    listfile: this.listDataHandler,
                    repfrom: this.name1,
                    repto: this.name2
                })
            }
            else if(this.selected == 3)
            {
                Rename.insertFunc({
                    fulldir: this.fulldirHandler,
                    listfile: this.listDataHandler,
                    before: this.name1,
                    after: this.name2
                })
            }
        }
    }
}
</script>
